# Document Similarity

# Rekomendasi Film dengan Kemiripan Dokumen

Sistem rekomendasi adalah salah satu aplikasi pembelajaran mesin yang populer dan paling banyak diadopsi. Biasanya digunakan untuk merekomendasikan entitas kepada pengguna dan entitas ini dapat berupa apa saja seperti produk, film, layanan, dan sebagainya.

Contoh rekomendasi yang populer meliputi,
- Amazon menyarankan produk di situs webnya
- Amazon Prime, Netflix, Hotstar merekomendasikan film\acara
- YouTube merekomendasikan video untuk ditonton

Biasanya sistem pemberi rekomendasi dapat diimplementasikan dalam tiga cara:

- Simple Rule-based Recommenders / Rekomendasi Berbasis Aturan Sederhana: Biasanya berdasarkan metrik dan ambang batas global tertentu seperti popularitas film, peringkat global, dll.
- Content-based Recommenders / Rekomendasi berbasis konten: Ini didasarkan pada penyediaan entitas serupa berdasarkan entitas minat tertentu. Metadata konten dapat digunakan di sini seperti deskripsi film, genre, pemeran, sutradara, dan sebagainya
- Collaborative filtering Recommenders / Pemfilteran kolaboratif Rekomendasi: Di ​​sini tidak diperlukan metadata, tetapi memprediksi rekomendasi dan peringkat berdasarkan peringkat sebelumnya dari berbagai pengguna dan item tertentu.

STKI / NLP paling relevan dengan Collaborative filtering Recommenders

## install library

In [1]:
# !pip install textsearch
# !pip install contractions
import nltk
# nltk.download('punkt')
# nltk.download('stopwords')

In [2]:
import pathlib
pathlib.Path().resolve()

WindowsPath('C:/Users/ASUS/JupyterNotebookFile/GHclone/Sistem-Temu-Kembali-Informasi/Minggu4 Vector Space/Projek MInggu 4')

## load dan view data

In [3]:
import pandas as pd

df = pd.read_csv("Highest Holywood Grossing Movies.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  1000 non-null   int64
 1   Title                       1000 non-null   object
 2   Movie Info                  1000 non-null   object
 3   Year                        1000 non-null   int64
 4   Distributor                 999 non-null    object
 5   Budget (in $)               1000 non-null   object
 6   Domestic Opening (in $)     1000 non-null   object
 7   Domestic Sales (in $)       1000 non-null   int64
 8   International Sales (in $)  1000 non-null   int64
 9   World Wide Sales (in $)     1000 non-null   int64
 10  Release Date                1000 non-null   object
 11  Genre                       1000 non-null   object
 12  Running Time                1000 non-null   object
 13  License                     943 non-null    object
dtypes: int64(5), object(9)
memory usage: 109.5+ KB

In [4]:
df.head()

,Unnamed: 0,Title,Movie Info,Year,Distributor,Budget (in $),Domestic Opening (in $),Domestic Sales (in $),International Sales (in $),World Wide Sales (in $),Release Date,Genre,Running Time,License
0,0,Avatar,A paraplegic Marine dispatched to the moon Pan...,2009,Twentieth Century Fox,237000000,77025481,785221649,2138484377,2923706026,16-Dec-09,"['Action', 'Adventure', 'Fantasy', 'Sci-Fi']",2 hr 42 min,PG-13
1,1,Avengers: Endgame,After the devastating events of Avengers: Infi...,2019,Walt Disney Studios Motion Pictures,356000000,357115007,858373000,1941066100,2799439100,24-Apr-19,"['Action', 'Adventure', 'Drama', 'Sci-Fi']",3 hr 1 min,PG-13
2,2,Avatar: The Way of Water,Jake Sully lives with his newfound family form...,2022,20th Century Studios,December 14 2022 (EMEA APAC),134100226,684075767,1636174514,2320250281,24-Apr-19,"['Action', 'Adventure', 'Drama', 'Sci-Fi']",3 hr 1 min,PG-13
3,3,Titanic,A seventeen-year-old aristocrat falls in love ...,1997,Paramount Pictures,200000000,28638131,674292608,1590450697,2264743305,19-Dec-97,"['Drama', 'Romance']",3 hr 14 min,PG-13
4,4,Star Wars: Episode VII - The Force Awakens,"As a new threat to the galaxy rises, Rey, a de...",2015,Walt Disney Studios Motion Pictures,245000000,247966675,936662225,1134647993,2071310218,16-Dec-15,"['Action', 'Adventure', 'Sci-Fi']",2 hr 18 min,PG-13

In [5]:
df.dropna(axis=0,inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 942 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  942 non-null    int64
 1   Title                       942 non-null    object
 2   Movie Info                  942 non-null    object
 3   Year                        942 non-null    int64
 4   Distributor                 942 non-null    object
 5   Budget (in $)               942 non-null    object
 6   Domestic Opening (in $)     942 non-null    object
 7   Domestic Sales (in $)       942 non-null    int64
 8   International Sales (in $)  942 non-null    int64
 9   World Wide Sales (in $)     942 non-null    int64
 10  Release Date                942 non-null    object
 11  Genre                       942 non-null    object
 12  Running Time                942 non-null    object
 13  License                     942 non-null    object
dtypes: int64(5), object(9)
memory usage: 110.4+ KB

In [6]:
df_new = df.copy()
df_new = df_new[['Title', 'Year','Movie Info']] #- Genre
# df_new['description'] = df_new['Movie Info'].map(str) + ' ' + 'Genre are: '+df_new['Genre']
# df_new.dropna(inplace=True)
# # df = df.sort_values(by=['popularity'], ascending=False)
# df_new.info()

In [7]:
df_new.head()

,Title,Year,Movie Info
0,Avatar,2009,A paraplegic Marine dispatched to the moon Pan...
1,Avengers: Endgame,2019,After the devastating events of Avengers: Infi...
2,Avatar: The Way of Water,2022,Jake Sully lives with his newfound family form...
3,Titanic,1997,A seventeen-year-old aristocrat falls in love ...
4,Star Wars: Episode VII - The Force Awakens,2015,"As a new threat to the galaxy rises, Rey, a de..."

In [10]:
df_new.rename(columns={"Movie Info":"description"}, inplace=True)

In [11]:
df_new

,Title,Year,description
0,Avatar,2009,A paraplegic Marine dispatched to the moon Pan...
1,Avengers: Endgame,2019,After the devastating events of Avengers: Infi...
2,Avatar: The Way of Water,2022,Jake Sully lives with his newfound family form...
3,Titanic,1997,A seventeen-year-old aristocrat falls in love ...
4,Star Wars: Episode VII - The Force Awakens,2015,"As a new threat to the galaxy rises, Rey, a de..."
...,...,...,...
995,Sweet Home Alabama,2002,A young woman who has reinvented herself as a ...
996,Daddy's Home 2,2017,Having finally gotten used to each other's exi...
997,Hacksaw Ridge,2016,World War II American Army Medic Desmond T. Do...
998,Deja Vu,2006,"After a ferry is bombed in New Orleans, an A.T..."
999,M3GAN,2022,A robotics engineer at a toy company builds a ...

In [12]:
df_new.iloc[200].description

'A greedy film producer assembles a team of moviemakers and sets out for the infamous Skull Island, where they find more than just cannibalistic natives.'

# Bangun Sistem Rekomendasi Film

Tahapan
- Pre Processing
- Feature Engineering
- Komputasi Doc Similarity
- Proses Retrieve
- proses rekomendasi film


## Kemiripan Dokumen / document similarity

Ada berbagai cara untuk menghitung kesamaan antara dua item dokumen. Salah satu ukuran yang paling banyak digunakan adalah __cosine similarity__ .

### Cosine Similarity

Cosine Similarity digunakan untuk menghitung skor numerik untuk menunjukkan kesamaan antara dua dokumen teks. Secara matematis, ini didefinisikan sebagai berikut:

$$ cosinus(x,y) = \frac{x. y^\intercal}{||x||.||y||} $$

In [13]:
import nltk
import re
import numpy as np
import contractions

stop_words = nltk.corpus.stopwords.words('english')

def normalize_document(doc):
    # lower case and remove special characters\whitespaces
    doc = re.sub(r'[^a-zA-Z0-9\s]', '', doc, re.I|re.A)
    doc = doc.lower()
    doc = doc.strip()
    doc = contractions.fix(doc)
    # tokenize document
    tokens = nltk.word_tokenize(doc)
    #filter stopwords out of document
    filtered_tokens = [token for token in tokens if token not in stop_words]
    # re-create document from filtered tokens
    doc = ' '.join(filtered_tokens)
    return doc

normalize_corpus = np.vectorize(normalize_document)

norm_corpus = normalize_corpus(list(df_new['description']))
len(norm_corpus)

942

## Extrak TF-IDF

In [14]:
from sklearn.feature_extraction.text import TfidfVectorizer

tf = TfidfVectorizer(ngram_range=(1, 2), min_df=2)
tfidf_matrix = tf.fit_transform(norm_corpus)
tfidf_matrix.shape

(942, 2740)

## Compute Pairwise Document Similarity

In [15]:
from sklearn.metrics.pairwise import cosine_similarity

doc_sim = cosine_similarity(tfidf_matrix)
doc_sim_df = pd.DataFrame(doc_sim)
doc_sim_df.head()

,0,1,2,3,4,5,6,7,8,9,...,932,933,934,935,936,937,938,939,940,941
0,1.000000,0.0,0.216635,0.0,0.000000,0.000000,0.00000,0.00000,0.0,0.000000,...,0.038791,0.000000,0.0,0.0,0.000000,0.036070,0.000000,0.051412,0.062036,0.0
1,0.000000,1.0,0.000000,0.0,0.000000,0.394828,0.02186,0.00000,0.0,0.000000,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.027225,0.000000,0.0
2,0.216635,0.0,1.000000,0.0,0.046471,0.015747,0.00000,0.00000,0.0,0.051040,...,0.000000,0.012022,0.0,0.0,0.038190,0.042753,0.017341,0.035461,0.000000,0.0
3,0.000000,0.0,0.000000,1.0,0.000000,0.000000,0.00000,0.00000,0.0,0.000000,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
4,0.000000,0.0,0.046471,0.0,1.000000,0.020390,0.00000,0.01596,0.0,0.017841,...,0.000000,0.015566,0.0,0.0,0.240443,0.040398,0.022455,0.000000,0.051223,0.0

## mendapatkan title / judul movies

In [16]:
movies_list = df['Title'].values
movies_list, movies_list.shape

(array(['Avatar', 'Avengers: Endgame', 'Avatar: The Way of Water',
        'Titanic', 'Star Wars: Episode VII - The Force Awakens',
        'Avengers: Infinity War', 'Spider-Man: No Way Home',
        'Jurassic World', 'The Lion King', 'The Avengers', 'Furious 7',
        'Top Gun: Maverick', 'Frozen II', 'Barbie',
        'Avengers: Age of Ultron', 'The Super Mario Bros. Movie',
        'Black Panther', 'Harry Potter and the Deathly Hallows: Part 2',
        'Star Wars: Episode VIII - The Last Jedi',
        'Jurassic World: Fallen Kingdom', 'Frozen', 'Beauty and the Beast',
        'Incredibles 2', 'The Fate of the Furious', 'Iron Man 3',
        'Minions', 'Captain America: Civil War', 'Aquaman',
        'The Lord of the Rings: The Return of the King', 'Skyfall',
        'Spider-Man: Far from Home', 'Captain Marvel',
        'Transformers: Dark of the Moon', 'Jurassic Park',
        'Transformers: Age of Extinction', 'The Dark Knight Rises',
        'Star Wars: Episode IX - The Rise of Skywalker', 'Joker',
        'Toy Story 4', 'Toy Story 3',
        "Pirates of the Caribbean: Dead Man's Chest",
        'Rogue One: A Star Wars Story', 'Aladdin',
        'Pirates of the Caribbean: On Stranger Tides', 'Despicable Me 3',
        'Finding Dory', 'Star Wars: Episode I - The Phantom Menace',
        'Zootopia', 'Alice in Wonderland',
        "Harry Potter and the Sorcerer's Stone",
        'The Hobbit: An Unexpected Journey', 'The Dark Knight',
        'Jurassic World Dominion', 'Jumanji: Welcome to the Jungle',
        'Harry Potter and the Deathly Hallows: Part 1', 'Despicable Me 2',
        'The Lion King', 'The Jungle Book',
        'The Hobbit: The Battle of the Five Armies',
        "Pirates of the Caribbean: At World's End",
        'The Hobbit: The Desolation of Smaug',
        'Doctor Strange in the Multiverse of Madness',
        'The Lord of the Rings: The Two Towers',
        'Harry Potter and the Order of the Phoenix', 'Finding Nemo',
        'Minions: The Rise of Gru',
        'Harry Potter and the Half-Blood Prince', 'Shrek 2', 'Oppenheimer',
        'Harry Potter and the Chamber of Secrets', 'Bohemian Rhapsody',
        'The Battle at Lake Changjin',
        'The Lord of the Rings: The Fellowship of the Ring',
        'Harry Potter and the Goblet of Fire', 'Spider-Man 3',
        'The Secret Life of Pets', 'Ice Age: Dawn of the Dinosaurs',
        'Spectre', 'Spider-Man: Homecoming', 'Ice Age: Continental Drift',
        'Batman v Superman: Dawn of Justice', 'Wolf Warrior 2',
        'Star Wars: Episode III - Revenge of the Sith',
        'The Hunger Games: Catching Fire',
        'Guardians of the Galaxy Vol. 2', 'Black Panther: Wakanda Forever',
        'Inside Out', 'Venom', 'Thor: Ragnarok',
        'The Twilight Saga: Breaking Dawn - Part 2',
        'Guardians of the Galaxy Vol. 3', 'Inception',
        'Transformers: Revenge of the Fallen', 'Spider-Man',
        'Wonder Woman', 'Hi, Mom', 'Independence Day', 'Coco',
        'Fantastic Beasts and Where to Find Them', 'Shrek the Third',
        'Jumanji: The Next Level',
        'Harry Potter and the Prisoner of Azkaban',
        'Pirates of the Caribbean: Dead Men Tell No Tales',
        'E.T. the Extra-Terrestrial', 'Mission: Impossible - Fallout',
        '2012', 'Indiana Jones and the Kingdom of the Crystal Skull',
        'Spider-Man 2', 'Fast & Furious 6', 'Deadpool 2', 'Deadpool',
        'Star Wars: Episode IV - A New Hope', 'No Time to Die',
        'Guardians of the Galaxy', 'The Batman', 'Thor: Love and Thunder',
        'Fast & Furious Presents: Hobbs & Shaw', 'The Da Vinci Code',
        'Maleficent', 'The Amazing Spider-Man',
        'The Hunger Games: Mockingjay - Part 1', 'Shrek Forever After',
        'Gravity', "Madagascar 3: Europe's Most Wanted", 'Suicide Squad',
        'X-Men: Days of Future Past',
        'The Chronicles of Narnia: The Lion, the Witch and the Wardrobe',
        'Monsters University', 'The Matrix Reloaded', 'Up', 'Ne Zha',
        'F9: The Fast Saga', 'Captain America: The Winter Soldier',
        'The Twilight Saga: Breaking Dawn - Part 1',
        'The Twilight Saga: New Moon', 'Dawn of the Planet of the Apes',
        'Transformers', 'The Amazing Spider-Man 2', 'Fast X',
        'Interstellar', 'It', 'The Wandering Earth',
        'The Twilight Saga: Eclipse',
        'Mission: Impossible - Ghost Protocol', 'Mamma Mia!',
        'The Hunger Games', 'Spider-Man: Across the Spider-Verse', 'Moana',
        'Detective Chinatown 3', 'Mission: Impossible - Rogue Nation',
        'Forrest Gump', 'Doctor Strange', 'The Sixth Sense',
        'Man of Steel', 'Ice Age: The Meltdown', 'Kung Fu Panda 2',
        'Justice League', 'Big Hero 6',
        'Fantastic Beasts: The Crimes of Grindelwald',
        'Pirates of the Caribbean: The Curse of the Black Pearl',
        'Men in Black 3', 'Star Wars: Episode II - Attack of the Clones',
        'The Hunger Games: Mockingjay - Part 2', 'Thor: The Dark World',
        'Sing', 'Kung Fu Panda', 'The Incredibles', 'The Martian',
        'Hancock', 'Water Gate Bridge', 'Fast Five', 'Iron Man 2',
        'Ratatouille', 'Ant-Man and the Wasp',
        'How to Train Your Dragon 2', 'Logan',
        'The Lost World: Jurassic Park', 'Casino Royale',
        'The Passion of the Christ', 'Life of Pi', 'Ready Player One',
        'Transformers: The Last Knight', 'Madagascar: Escape 2 Africa',
        'War of the Worlds', 'Tangled', 'Quantum of Solace',
        'Men in Black', 'The Croods', 'The Hangover Part II', 'Iron Man',
        'I Am Legend', 'Monsters, Inc.', 'Operation Red Sea',
        'Night at the Museum', 'Fifty Shades of Grey',
        'The Little Mermaid',
        'Mission: Impossible - Dead Reckoning Part One',
        'Kong: Skull Island', 'The Smurfs', 'Cars 2', 'King Kong',
        'Puss in Boots', 'The Mermaid', 'Armageddon',
        'The Day After Tomorrow', 'Ted', 'American Sniper',
        'Mission: Impossible II', 'Detective Chinatown 2',
        'X-Men: Apocalypse', 'Sherlock Holmes: A Game of Shadows',
        'Despicable Me', 'Cinderella', 'Madagascar', 'World War Z',
        'Brave', 'Star Wars: Episode V - The Empire Strikes Back',
        'The Simpsons Movie', 'The Revenant', 'The Meg',
        'Ralph Breaks the Internet',
        'Hotel Transylvania 3: Summer Vacation', 'The Boss Baby',
        'Dunkirk', 'The Grinch', 'Godzilla',
        'How to Train Your Dragon: The Hidden World', 'Sherlock Holmes',
        'Meet the Fockers', 'Kung Fu Panda 3',
        'Terminator 2: Judgment Day', 'Ant-Man',
        'Venom: Let There Be Carnage', 'Gladiator', 'Rio 2', 'Troy',
        'How to Train Your Dragon', 'Oz the Great and Powerful',
        'Clash of the Titans', 'Maleficent: Mistress of Evil',
        'War for the Planet of the Apes', 'Shrek', 'Mr. & Mrs. Smith',
        'Elemental', 'Angels & Demons', 'Teenage Mutant Ninja Turtles',
        'Bruce Almighty', "The King's Speech", 'Rio',
        'Saving Private Ryan', 'Rise of the Planet of the Apes',
        'Puss in Boots: The Last Wish', 'Hotel Transylvania 2',
        'Star Wars: Episode VI - Return of the Jedi',
        'Charlie and the Chocolate Factory',
        'Indiana Jones and the Last Crusade', 'San Andreas',
        'It Chapter Two', 'La La Land', 'Wreck-It Ralph',
        'Godzilla vs. Kong', 'The Hangover', 'Lucy', 'The Lego Movie',
        'Bumblebee', 'Star Trek Into Darkness', 'The Matrix',
        'Pretty Woman', 'X-Men: The Last Stand', 'Moon Man',
        'National Treasure: Book of Secrets', 'Mission: Impossible', '300',
        'The Last Samurai', 'Demon Slayer the Movie: Mugen Train',
        'Dying to Survive', "Ocean's Eleven", 'My People, My Country',
        'Pokémon: Detective Pikachu', 'Thor', 'Pearl Harbor', 'Tarzan',
        'Men in Black II', 'The Bourne Ultimatum', 'The Mummy Returns',
        'Alvin and the Chipmunks: The Squeakquel', 'Les Misérables',
        'The Exorcist', 'Mrs. Doubtfire', 'Terminator Genisys', 'Warcraft',
        'Transformers: Rise of the Beasts', 'A Star Is Born',
        'The Greatest Showman', 'Terminator 3: Rise of the Machines',
        'Shang-Chi and the Legend of the Ten Rings', 'Die Another Day',
        'The Secret Life of Pets 2', 'Cast Away', 'Rampage',
        'The Matrix Revolutions', 'The Intouchables',
        'John Wick: Chapter 4', 'Bad Boys for Life', 'Django Unchained',
        'The Chronicles of Narnia: Prince Caspian', 'Sex and the City',
        'The Captain', 'The Mummy',
        'The Chronicles of Narnia: The Voyage of the Dawn Treader',
        'Jason Bourne', 'The Wolverine', 'Kingsman: The Secret Service',
        'Night at the Museum: Battle of the Smithsonian', 'Pacific Rim',
        'Kingsman: The Golden Circle', 'The Mummy',
        'Ice Age: Collision Course', 'Twilight', 'Sing 2', 'Signs', 'X2',
        'Fantastic Beasts: The Secrets of Dumbledore', 'Uncharted',
        'The Wolf of Wall Street', 'Sonic the Hedgehog 2',
        'Alita: Battle Angel', 'The Mummy: Tomb of the Dragon Emperor',
        'Prometheus', 'Gone with the Wind', 'Mamma Mia! Here We Go Again',
        'Eternals', 'Dune', 'TRON: Legacy', 'Mission: Impossible III',
        'Snow White and the Huntsman', 'Grease', 'Toy Story', 'Black Adam',
        'Solo: A Star Wars Story', 'Superman Returns', 'Meg 2: The Trench',
        'Raiders of the Lost Ark', 'Independence Day: Resurgence',
        'Live Free or Die Hard', 'Monster Hunt',
        'Godzilla: King of the Monsters', 'Home', 'Star Trek', '1917',
        'Happy Feet', 'Spider-Man: Into the Spider-Verse', 'Cars 3',
        'Ice Age', 'Indiana Jones and the Dial of Destiny', 'Your Name.',
        'Fifty Shades Darker', 'Monsters vs. Aliens', 'Mad Max: Fury Road',
        'Black Widow', 'Godzilla', 'True Lies', 'Slumdog Millionaire',
        'Once Upon a Time in Hollywood', 'Taken 2',
        'G.I. Joe: Retaliation', 'Shark Tale', 'What Women Want',
        'The Adventures of Tintin', 'Batman Begins',
        'Penguins of Madagascar', 'X-Men Origins: Wolverine',
        'The Golden Compass', 'Fifty Shades Freed', 'Hitch',
        'Terminator Salvation', 'Captain America: The First Avenger',
        'Edge of Tomorrow', "There's Something About Mary", 'Gone Girl',
        'The Fugitive', 'Jurassic Park III', 'My Big Fat Greek Wedding',
        'Shazam!', 'Hello Mr. Billionaire', 'Die Hard with a Vengeance',
        'The Nun', 'Alvin and the Chipmunks', 'Tenet', 'Notting Hill',
        'Night at the Museum: Secret of the Tomb', "Ocean's Twelve",
        'Planet of the Apes', 'The Hangover Part III',
        'The World Is Not Enough', 'Monster Hunt 2', 'Fast & Furious',
        'Noah', 'The Karate Kid', 'Home Alone 2: Lost in New York',
        'Hotel Transylvania', 'Minority Report', 'Top Gun',
        'Spirited Away', 'The Legend of Tarzan', 'American Beauty',
        'Apollo 13', 'The Great Gatsby', 'Dumbo', 'I, Robot',
        'Basic Instinct', 'Murder on the Orient Express',
        'X-Men: First Class', 'The Angry Birds Movie', 'GoldenEye',
        'Catch Me If You Can', 'Now You See Me', 'Hannibal', 'The Mask',
        'Peter Rabbit', 'Speed', 'Dinosaur', 'Mary Poppins Returns',
        'Deep Impact', 'The Lorax', 'The Maze Runner', 'The Smurfs 2',
        'National Treasure', 'Rush Hour 2', 'Trolls',
        'xXx: Return of Xander Cage', 'Pocahontas',
        'How the Grinch Stole Christmas', 'Star Trek Beyond',
        'Alvin and the Chipmunks: Chipwrecked', 'Wanted',
        'The Flintstones', 'A Quiet Place', 'Enchanted', 'Over the Hedge',
        '300: Rise of an Empire', 'Batman Forever',
        'Prince of Persia: The Sands of Time',
        'The Curious Case of Benjamin Button',
        'Journey 2: The Mysterious Island', 'The Rock', 'The Great Wall',
        'Now You See Me 2', 'Never Say Die', "Bridget Jones's Diary",
        'Fantastic Four', '22 Jump Street', 'Meet the Parents',
        'Black Swan', 'The Perfect Storm',
        'John Wick: Chapter 3 - Parabellum', 'Crocodile Dundee',
        'Crazy Alien', 'Se7en', 'The Devil Wears Prada', 'Taken 3',
        'A Christmas Carol', 'The SpongeBob Movie: Sponge Out of Water',
        "Schindler's List", 'Megamind', 'The Conjuring 2', 'Green Book',
        'Lethal Weapon 3', 'Robin Hood', 'Inglourious Basterds',
        '101 Dalmatians', 'The Conjuring', 'Fatal Attraction',
        'Sonic the Hedgehog', 'The Last Airbender', 'The Proposal',
        'A Beautiful Mind', 'Beverly Hills Cop', 'Air Force One', 'Wonder',
        'The Expendables 2', 'Chicken Little', 'As Good as It Gets',
        'Austin Powers: The Spy Who Shagged Me', 'Knives Out',
        'Maze Runner: The Scorch Trials',
        'Resident Evil: The Final Chapter', 'The Lego Batman Movie',
        "Ocean's Thirteen", 'Little Fockers', 'Bolt', 'Ransom',
        'Runaway Bride', 'The Blind Side',
        'The Ex-File 3: Return of the Exes', 'The Fault in Our Stars',
        'The Pursuit of Happyness', 'Rise of the Guardians',
        'Close Encounters of the Third Kind', 'Chicago',
        'Annabelle: Creation', 'Bridesmaids', 'Skyscraper',
        'A Good Day to Die Hard', 'Mulan', 'Dangal', 'Passengers',
        'Battleship', 'Liar Liar', 'G.I. Joe: The Rise of Cobra',
        'Wrath of the Titans', 'Fantastic Four: Rise of the Silver Surfer',
        'Superman', 'Rocky IV', 'Rambo: First Blood Part II',
        'Resident Evil: Afterlife', 'Van Helsing', 'Stuart Little',
        'Beverly Hills Cop II', 'Alice Through the Looking Glass',
        "My Best Friend's Wedding", 'Real Steel', "Ocean's Eight",
        'A Quiet Place Part II', 'The Divergent Series: Insurgent',
        "Look Who's Talking", 'Austin Powers in Goldmember',
        "Miss Peregrine's Home for Peculiar Children", 'X-Men',
        'Ferdinand', 'Shutter Island', 'Doctor Dolittle', 'Bee Movie',
        'Salt', 'G-Force', 'The Departed', 'What Lies Beneath',
        'Pacific Rim: Uprising', 'The Bourne Supremacy',
        'Sex and the City 2', 'Shakespeare in Love', 'Divergent',
        'Coming to America', 'Elvis', 'Wedding Crashers',
        'Maze Runner: The Death Cure', 'Casper', 'American Pie 2',
        'Pitch Perfect 2', 'The Green Mile', 'Oblivion', 'Elysium',
        'Lethal Weapon 4', 'John Carter', 'Turbo', 'Paddington',
        'The Tourist', 'Split', 'Scary Movie', 'xXx', 'The Bourne Legacy',
        'Mr. Peabody & Sherman', 'Scooby-Doo', 'Lincoln', 'Creed III',
        'Lara Croft: Tomb Raider', 'Tomb Raider', 'The Expendables',
        'Cloudy with a Chance of Meatballs 2', 'The Nutty Professor',
        'Jerry Maguire', 'Bad Boys II', 'Lilo & Stitch', 'Grown Ups',
        'Neighbors', 'The Firm', "We're the Millers", 'Gran Torino',
        '10,000 BC', 'American Gangster', 'The Flash', 'Epic',
        'Exodus: Gods and Kings', 'Blade Runner 2049', 'Bambi',
        'Batman Returns', 'Indecent Proposal', "Something's Gotta Give",
        'Bridget Jones: The Edge of Reason', 'The Incredible Hulk',
        'Waterworld', 'The Truman Show', "Charlie's Angels",
        'The Fifth Element', 'Jumanji', 'Parasite', 'Borat', 'Robots',
        'Knight and Day', 'Terminator: Dark Fate', 'The Lone Ranger',
        'Super 8', 'Halloween', "Charlie's Angels: Full Throttle",
        'Rush Hour 3', 'The Full Monty', 'Annabelle', 'Encanto',
        'The Village', 'Lost in Hong Kong', 'Erin Brockovich', 'Us',
        'Pegasus', 'Get Out', 'Marley & Me', 'Cliffhanger',
        'Baahubali 2: The Conclusion', 'Babe',
        'Men in Black: International', 'Wild Hogs',
        'High School Musical 3: Senior Year', 'Dark Phoenix', 'True Grit',
        'Dolittle', 'Bean', 'American Hustle', 'Enemy of the State',
        "You've Got Mail", 'Eragon', 'Brother Bear', 'The Mask of Zorro',
        'The Bad Guys', 'The Ring', 'The Blair Witch Project',
        'Unbreakable', 'Love Actually',
        'Journey to the West: The Demons Strike Back', 'Glass',
        'Grown Ups 2', 'The Peanuts Movie', 'Rango',
        'Four Weddings and a Funeral', 'Face/Off',
        'Teenage Mutant Ninja Turtles: Out of the Shadows', 'Dark Shadows',
        'Hulk', 'The Bravest', 'Pixels', 'Hercules', 'Rush Hour',
        'Journey to the Center of the Earth', 'After Earth',
        'A Few Good Men', 'Cloudy with a Chance of Meatballs', '8 Mile',
        "Daddy's Home", 'RoboCop', 'Eraser', 'Alien: Covenant', 'Sully',
        "Assassin's Creed", 'Click', 'Legend of Deification', 'Planes',
        'Resident Evil: Retribution', 'Crazy Rich Asians',
        'Batman & Robin', "Howl's Moving Castle", "Gulliver's Travels",
        'Gone in 60 Seconds', 'Saturday Night Fever',
        'Silver Linings Playbook', '2 Fast 2 Furious', 'Hidden Figures',
        'A.I. Artificial Intelligence', 'Dead Poets Society', 'Spy',
        'American Pie', 'American Reunion', 'Big Daddy',
        'Alvin and the Chipmunks: The Road Chip', 'The Imitation Game',
        'Cruella', 'The Day the Earth Stood Still', 'American Wedding',
        'The Girl with the Dragon Tattoo', 'Juno', 'Argo',
        "Mr. Bean's Holiday", 'The English Patient', 'Sister Act',
        'Annabelle Comes Home', 'Constantine', 'Get Smart', 'Space Jam',
        'Life Is Beautiful', 'The Heat', 'Ghostbusters', 'Ghost Rider',
        'Goodbye Mr. Loser', 'Paddington 2', 'Sleepless in Seattle',
        'Lethal Weapon 2', 'The Green Hornet', 'Out of Africa', 'Elf',
        'Youth', 'Baby Driver', 'Immortals', 'Taken',
        'Percy Jackson & the Olympians: The Lightning Thief', 'Lightyear',
        'Hansel & Gretel: Witch Hunters',
        'Valerian and the City of a Thousand Planets', 'Good Will Hunting',
        'Better Days', 'Ford v Ferrari', 'Jumper', 'The Social Network',
        'Con Air', 'Interview with the Vampire: The Vampire Chronicles',
        'Flightplan', 'Yes Man', 'Non-Stop', 'Honey, I Shrunk the Kids',
        'Fahrenheit 9/11', 'Wild Wild West', 'My Country, My Parents',
        'Geostorm', 'Presumed Innocent', 'Jungle Cruise', 'Scary Movie 3',
        'Collateral', 'Inferno', 'Knocked Up', 'Green Lantern',
        'What Happens in Vegas', "It's Complicated", 'The Terminal',
        'Little Women', 'Captain Phillips', 'The Prince of Egypt',
        'Jack Reacher', 'Kingdom of Heaven', 'The Emoji Movie', 'Smile',
        'Too Cool to Kill', 'Dracula Untold', 'Central Intelligence',
        'Million Dollar Baby', 'The Help', "Valentine's Day",
        'Bad Teacher', 'A Little Red Flower', 'The Croods: A New Age',
        'Clear and Present Danger', 'One Hundred and One Dalmatians',
        'Ted 2', "Bram Stoker's Dracula", 'Vertical Limit',
        'Ghostbusters II', 'The Patriot', "The Sorcerer's Apprentice",
        'Just Go with It', 'The Expendables 3', 'Creed II', 'Smallfoot',
        'Public Enemies', 'The Bourne Identity', 'Disclosure',
        'Crouching Tiger, Hidden Dragon', 'Pulp Fiction', 'The Aviator',
        'Braveheart', 'Into the Woods', 'Bedtime Stories',
        'Miss Congeniality', 'Sound of Freedom', 'Entrapment',
        'Ace Ventura: When Nature Calls', 'End of Days',
        "Bridget Jones's Baby", 'Fury', 'Battle Los Angeles', 'Australia',
        'Due Date', 'Master and Commander: The Far Side of the World',
        'A Series of Unfortunate Events', 'The Little Mermaid',
        'Nice View', 'District 9', 'Moonraker', 'The Others',
        'Horrible Bosses', 'Us and Them', 'Red Dragon', 'Tomorrowland',
        'Me Before You', 'Dungeons & Dragons: Honor Among Thieves',
        'Safe House', 'S.W.A.T.', 'DC League of Super-Pets',
        'The Fast and the Furious', 'Traffic', 'Paranormal Activity 3',
        'Philadelphia', 'The Conjuring: The Devil Made Me Do It',
        'Sleepy Hollow', 'The Holiday', 'The Jungle Book', 'Raging Fire',
        'London Has Fallen', 'The Break-Up', 'Journey to the West',
        'The Ugly Truth', 'JFK', 'Birds of Prey', 'White House Down',
        "A Dog's Purpose", 'Ponyo', 'Fun with Dick and Jane',

## Temukan Film Serupa Teratas untuk Contoh Film

Mari ambil __Minions__ film paling populer dari kerangka data di atas dan coba temukan film paling mirip yang dapat direkomendasikan

### ambil movie ID

In [17]:
movie_idx = np.where(movies_list == 'Avatar')[0][0]
movie_idx

0

### ambil similarities

In [18]:
movie_similarities = doc_sim_df.iloc[movie_idx].values
movie_similarities

array([1.        , 0.        , 0.21663452, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.03288377, 0.        , 0.03460356, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.02814405, 0.        , 0.06389041, 0.02462479, 0.13096412,
       0.02095977, 0.        , 0.        , 0.02139398, 0.        ,
       0.08111821, 0.04219829, 0.07197649, 0.06699368, 0.        ,
       0.        , 0.        , 0.        , 0.01921193, 0.03903629,
       0.        , 0.0392738 , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.01793481, 0.02568271,
       0.02970357, 0.        , 0.        , 0.        , 0.02060315,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.043991  ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.02264034,
       0.        , 0.02053415, 0.        , 0.        , 0.01933169,
       0.01961653, 0.        , 0.        , 0.        , 0.        ,
       0.06718753, 0.        , 0.        , 0.01970212, 0.        ,
       0.04022391, 0.        , 0.        , 0.        , 0.05086508,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.03967413, 0.04189293,
       0.        , 0.03891263, 0.        , 0.        , 0.        ,
       0.04543149, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.06484746,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.07861735, 0.        , 0.01764307, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.03697914,
       0.        , 0.01403602, 0.        , 0.        , 0.        ,
       0.        , 0.05776649, 0.        , 0.        , 0.04270622,
       0.        , 0.03073882, 0.        , 0.05254198, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.04075614,
       0.        , 0.0238869 , 0.03624636, 0.        , 0.        ,
       0.        , 0.01873241, 0.        , 0.03322874, 0.03068657,
       0.        , 0.        , 0.03110767, 0.        , 0.        ,
       0.02059044, 0.        , 0.        , 0.        , 0.0237865 ,
       0.        , 0.        , 0.03051649, 0.        , 0.05984789,
       0.        , 0.        , 0.08268878, 0.        , 0.        ,
       0.02190422, 0.        , 0.        , 0.02259788, 0.04335215,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.03054879, 0.        , 0.        , 0.02279434,
       0.        , 0.        , 0.        , 0.        , 0.02340061,
       0.        , 0.        , 0.        , 0.        , 0.12881434,
       0.        , 0.        , 0.        , 0.01857699, 0.        ,
       0.02546106, 0.02255195, 0.        , 0.        , 0.03577228,
       0.        , 0.01706675, 0.03662751, 0.        , 0.        ,
       0.        , 0.0400762 , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.04121262, 0.        , 0.        , 0.        , 0.06388365,
       0.        , 0.        , 0.        , 0.        , 0.02708311,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.01830489,
       0.02061965, 0.        , 0.        , 0.03681455, 0.08496519,
       0.        , 0.        , 0.        , 0.        , 0.04132503,
       0.        , 0.        , 0.        , 0.03092888, 0.04176439,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.06218572, 0.        , 0.        ,
       0.        , 0.05617644, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.01537777,
       0.        , 0.        , 0.        , 0.        , 0.01788267,
       0.01887124, 0.        , 0.        , 0.        , 0.1003626 ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.14527176, 0.        ,
       0.        , 0.        , 0.08172495, 0.1011006 , 0.        ,
       0.        , 0.        , 0.        , 0.08724565, 0.        ,
       0.02093161, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.02542238, 0.03910548, 0.02051405, 0.        , 0.        ,
       0.        , 0.        , 0.03099544, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.02139715, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.07823906, 0.03322601,
       0.        , 0.        , 0.        , 0.        , 0.07208251,
       0.0210885 , 0.        , 0.11745556, 0.03260428, 0.03203686,
       0.02149334, 0.        , 0.        , 0.04408154, 0.04622399,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.03727481,
       0.03471023, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.04360278, 0.        , 0.        , 0.01850224,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.02170441, 0.02225476, 0.        , 0.        ,
       0.        , 0.03427014, 0.02017851, 0.        , 0.04520754,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.07799641, 0.02704017,
       0.        , 0.04210121, 0.        , 0.02303587, 0.02079908,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.02171127, 0.        , 0.        ,
       0.03267013, 0.        , 0.        , 0.        , 0.03800455,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.02345256, 0.        , 0.        , 0.02123427, 0.04703646,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.09719237, 0.        , 0.09868786, 0.        ,
       0.        , 0.        , 0.03634346, 0.02333587, 0.10650266,
       0.        , 0.        , 0.        , 0.        , 0.13275081,
       0.        , 0.0389748 , 0.        , 0.        , 0.        ,
       0.        , 0.02200139, 0.        , 0.        , 0.        ,
       0.04616626, 0.        , 0.        , 0.        , 0.        ,
       0.05726562, 0.04244642, 0.        , 0.        , 0.        ,
       0.03431052, 0.        , 0.        , 0.        , 0.01901179,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.01667173, 0.        , 0.        , 0.        , 0.        ,
       0.04109348, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.03417995, 0.        ,
       0.        , 0.13923855, 0.02396177, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.04458838, 0.        , 0.        , 0.        ,
       0.03203109, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.02187801, 0.04895091, 0.        , 0.03168449, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.06499261,
       0.        , 0.        , 0.        , 0.        , 0.04492818,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.01987333, 0.        , 0.10364191, 0.        , 0.        ,
       0.        , 0.        , 0.03519026, 0.        , 0.        ,
       0.        , 0.        , 0.03060872, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.01952857, 0.        , 0.        , 0.03831076,
       0.        , 0.01825415, 0.07509511, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.02160785,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.05341642, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.05751604, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.0324263 , 0.        , 0.03168706, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.04324564, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.01868669, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.03860526, 0.        , 0.        , 0.02221652, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.02580766, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.04337593, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.04881548, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.08780281, 0.        , 0.05859569,
       0.        , 0.04160953, 0.        , 0.        , 0.        ,
       0.        , 0.03462511, 0.04657641, 0.        , 0.04764217,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.02725571, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.06728521, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.02396094, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.01964753, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.02907722, 0.02496768, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.06563074, 0.01897112, 0.        , 0.03709915,
       0.        , 0.        , 0.        , 0.        , 0.08225167,
       0.03251215, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.07178718, 0.        , 0.07377894, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.12035105,
       0.        , 0.07129415, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.01935428, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.03879085, 0.        , 0.        ,
       0.        , 0.        , 0.03607037, 0.        , 0.05141242,
       0.06203585, 0.        ])

### Get top 5 similar movie IDs

In [19]:
similar_movie_idxs = np.argsort(-movie_similarities)[1:6]
similar_movie_idxs

array([  2, 328, 596, 534,  24], dtype=int64)

### Get top 5 similar movies

In [20]:
similar_movies = movies_list[similar_movie_idxs]
similar_movies

array(['Avatar: The Way of Water', 'Prometheus', 'Borat', 'G-Force',
       'Iron Man 3'], dtype=object)

### Buat fungsi rekomendasi film untuk merekomendasikan 5 film serupa teratas untuk film apa pun


The movie title, movie title list and document similarity matrix dataframe akan diberikan sebagai input ke fungsi

In [21]:
def movie_recommender(movie_title, movies=movies_list, doc_sims=doc_sim_df):
    # find movie id
    movie_idx = np.where(movies == movie_title)[0][0]
    # get movie similarities
    movie_similarities = doc_sims.iloc[movie_idx].values
    # get top 5 similar movie IDs
    similar_movie_idxs = np.argsort(-movie_similarities)[1:6]
    # get top 5 movies
    similar_movies = movies[similar_movie_idxs]
    # return the top 5 movies
    return similar_movies

# misal cari rekomendasi untuk film film berikut

In [36]:
popular_movies = ['Barbie','Frozen II', "Minions","Pirates of the Caribbean: The Curse of the Black Pearl","Fast & Furious 6"]

In [37]:
for movie in popular_movies:
    print('Movie:', movie)
    print('Top 5 recommended Movies:', movie_recommender(movie_title=movie, movies=movies_list, doc_sims=doc_sim_df))
    print()

Movie: Barbie
Top 5 recommended Movies: ['Batman v Superman: Dawn of Justice' 'Black Adam' 'The Incredibles'
 'Spirited Away' 'Arrival']

Movie: Frozen II
Top 5 recommended Movies: ['Journey to the Center of the Earth' 'Ghostbusters: Afterlife'
 'White House Down' 'The Super Mario Bros. Movie'
 'A Series of Unfortunate Events']

Movie: Minions
Top 5 recommended Movies: ['Divergent' 'Arrival' 'London Has Fallen' 'Resident Evil: Afterlife'
 'The Terminal']

Movie: Pirates of the Caribbean: The Curse of the Black Pearl
Top 5 recommended Movies: ['Pirates of the Caribbean: Dead Men Tell No Tales'
 'Pirates of the Caribbean: On Stranger Tides'
 "Pirates of the Caribbean: At World's End" 'White House Down' 'Taken']

Movie: Fast & Furious 6
Top 5 recommended Movies: ['Fast & Furious' 'X-Men Origins: Wolverine'
 'Mission: Impossible - Rogue Nation' 'RED' 'Deadpool 2']

# Rekomendasi Film (other method)

In [38]:
# Gensim FastText
from gensim.models import FastText

tokenized_docs = [doc.split() for doc in norm_corpus]
ft_model = FastText(tokenized_docs, window=30, min_count=2, workers=4, sg=1)

# Hasilkan penyematan tingkat dokumen / Word Embedding

Model penyematan kata (word embedding) memberi kita penyematan untuk setiap kata, bagaimana kita dapat menggunakannya untuk tugas ML\DL hilirisasi? salah satu caranya adalah dengan meratakannya atau menggunakan model sekuensial. Pendekatan yang lebih sederhana adalah dengan rata-rata semua penyematan kata untuk kata-kata dalam dokumen dan menghasilkan penyematan tingkat dokumen dengan panjang tetap (fixed-length document level emebdding)

In [39]:
def averaged_word2vec_vectorizer(corpus, model, num_features):
    vocabulary = set(model.wv.index_to_key)
    
    def average_word_vectors(words, model, vocabulary, num_features):
        feature_vector = np.zeros((num_features,), dtype="float64")
        nwords = 0.
        
        for word in words:
            if word in vocabulary: 
                nwords = nwords + 1.
                feature_vector = np.add(feature_vector, model.wv[word])
        if nwords:
            feature_vector = np.divide(feature_vector, nwords)

        return feature_vector

    features = [average_word_vectors(tokenized_sentence, model, vocabulary, num_features)
                    for tokenized_sentence in corpus]
    return np.array(features)

In [40]:
doc_vecs_ft = averaged_word2vec_vectorizer(tokenized_docs, ft_model, 100)
doc_vecs_ft.shape

(942, 100)

# Dapatkan Rekomendasi Film

Memanfaatkan Cos Similarity untuk menghasilkan rekomendasi

In [41]:
doc_sim = cosine_similarity(doc_vecs_ft)
doc_sim_df = pd.DataFrame(doc_sim)
doc_sim_df.head()

,0,1,2,3,4,5,6,7,8,9,...,932,933,934,935,936,937,938,939,940,941
0,1.000000,0.999994,0.999994,0.999986,0.999990,0.999995,0.999992,0.999990,0.999991,0.999991,...,0.999992,0.999990,0.999987,0.999985,0.999991,0.999982,0.999991,0.999991,0.999992,0.999984
1,0.999994,1.000000,0.999990,0.999986,0.999988,0.999995,0.999993,0.999987,0.999991,0.999988,...,0.999990,0.999988,0.999988,0.999983,0.999991,0.999981,0.999991,0.999992,0.999989,0.999980
2,0.999994,0.999990,1.000000,0.999987,0.999994,0.999995,0.999991,0.999990,0.999988,0.999990,...,0.999991,0.999988,0.999986,0.999987,0.999991,0.999986,0.999990,0.999990,0.999991,0.999985
3,0.999986,0.999986,0.999987,1.000000,0.999983,0.999988,0.999989,0.999984,0.999990,0.999979,...,0.999987,0.999988,0.999982,0.999982,0.999985,0.999984,0.999983,0.999985,0.999988,0.999983
4,0.999990,0.999988,0.999994,0.999983,1.000000,0.999993,0.999989,0.999990,0.999987,0.999989,...,0.999990,0.999986,0.999982,0.999984,0.999991,0.999988,0.999988,0.999988,0.999991,0.999978

In [42]:
for movie in popular_movies:
    print('Movie:', movie)
    print('Top 5 recommended Movies:', movie_recommender(movie_title=movie, movies=movies_list, doc_sims=doc_sim_df))
    print()

Movie: Barbie
Top 5 recommended Movies: ['Batman v Superman: Dawn of Justice' 'Black Adam' 'The Incredibles'
 'Arrival' 'Spirited Away']

Movie: Frozen II
Top 5 recommended Movies: ['Journey to the Center of the Earth' 'Ghostbusters: Afterlife'
 'White House Down' 'The Super Mario Bros. Movie'
 'Transformers: Revenge of the Fallen']

Movie: Minions
Top 5 recommended Movies: ['Divergent' 'Arrival' 'London Has Fallen' 'Resident Evil: Afterlife'
 'The Terminal']

Movie: Pirates of the Caribbean: The Curse of the Black Pearl
Top 5 recommended Movies: ['Pirates of the Caribbean: Dead Men Tell No Tales'
 'Pirates of the Caribbean: On Stranger Tides'
 "Pirates of the Caribbean: At World's End" 'White House Down'
 'Disclosure']

Movie: Fast & Furious 6
Top 5 recommended Movies: ['Fast & Furious' 'X-Men Origins: Wolverine'
 'Mission: Impossible - Rogue Nation' 'RED' 'Deadpool 2']